@font-face {
    font-family: gotFont;
    src: url(../../assests/GameOfThrones.ttf);
}

.header-container{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 13px;
}

.header-container h1{
    font-family: gotFont;
    user-select: none;
    text-align: center;
    font-weight: 700;
}

.footer{
user-select: none;
}

.footer a{
    color: greenyellow;
    text-decoration: none;
}

.header-container img{
    height: 130px;
    width: 200px;
}