.header-container{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-container h1{
    user-select: none;
    text-align: center;
    font-weight: 700;
}

.footer{
user-select: none;
}

.footer a{
    color: greenyellow;
    text-decoration: none;
}